.chat {
	margin-bottom: 30px;

	&_last {
		margin-bottom: 0;
	}

	&__info {
		margin-bottom: 10px;

		&_title {
			color: #000;
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 2rem;
			text-transform: uppercase;
		}

		&_date {
			color: #959595;
			height: 18px;
			font-size: 1.1rem;
			line-height: 1.8rem;
		}
	}

	&__content {
		font-size: 1.3rem;
		line-height: 1.6rem;
		padding: 20px 35px;
		background: #F1F8FF;
		@include border-radius(10px);

		&_green {
			background: #F0FFE2;
		}

		&_info {
			padding: 0;
			color: #000;
			font-size: 1.2rem;
			line-height: 1.8rem;
			list-style: none;
			margin: 0 0 20px 0;
		}

		&_actions {
			margin-bottom: 10px;

			a {
				display: inline-block;
			}

			span {
				display: inline-block;
			}
		}

		h4 {
			color: #000;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}

	&__service {
		margin: 0 -15px 20px -15px;


		ul {
			margin: 0;
			padding: 0 15px;


			li {
				color: #000;
				padding: 3px 0;
				font-size: 1.2rem;
				line-height: 1.1rem;
				@include flexbox();
				@include align-items(center);

				i {
					width: 30px;
					display: inline-block;
				}

				span {
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__service {
			@include flexbox();
			@include flex-wrap(wrap);

			ul {
				width: 240px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 20px;
		@include flexbox();

		&__info {
			width: 230px;
			margin-bottom: 0;
			padding-top: 10px;
			padding-right: 70px;
			text-align: right;
			position: relative;
			@include flex-shrink(0);

			&:before {
				top: 0;
				z-index: 1;
				width: 3px;
				content: '';
				right: 30px;
				bottom: -20px;
				display: block;
				position: absolute;
				background: #EEEEEE;
			}

			&:after {
				top: 20px;
				right: 22px;
				z-index: 10;
				width: 19px;
				height: 19px;
				content: '';
				position: absolute;
				background: #77B0F6;
				display: inline-block;
				border: 3px solid #EEEEEE;
				@include border-radius(50%);
			}

			&_green {

				&:after {
					background: #72C02C;
				}
			}
		}

		&__content {
			position: relative;
			@include flex-grow(1);

			&:before {
				left: -20px;
				top: 20px;
				content: '';
				display: block;
				position: absolute;
				border: 10px solid transparent;
				border-right: 10px solid #F1F8FF;
			}

			&_green {

				&:before {
					border-right-color: #F0FFE2;
				}
			}
		}


		&_last {

			.chat__info {

				&:before {
					bottom: 0;
				}
			}
		}
	}
}
