
.search_bar {
	z-index: 100;
	margin-top: -30px;
	position: relative;

	&__wrap {
		padding: 10px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 1;
			display: block;
			opacity: 0.5;
			position: absolute;
			background: linear-gradient(174.46deg, #C395F7 8.52%, #A07EF8 24.31%, #7371F6 53.42%, #6890F8 73.16%, #60D3F9 96.85%);
			@include border-radius(10px);
		}
	}

	&__container {
		z-index: 10;
		padding: 15px 15px 5px 15px;
		background: #fff;
		position: relative;
	}


	&__elem {
		margin-bottom: 15px;
	}

	&__select {
		margin: 0;
		width: 100%;
		outline: none;
		height: 44px;
		color: #000000;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #85DAFF;
		padding: 11px 40px 11px 20px;
		background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
		@include placeholder(#000);

		-webkit-appearance: none;
		/* for FF */
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		/* for IE */
		-ms-appearance: none;
		appearance: none!important;

		&::-ms-expand {
			display: none;
		}

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			border-bottom-color: $color-blue;
			@include placeholder(transparent);
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			padding: 10px 7px 10px 13px;

		}

		&__container {
			padding: 0;
			background: transparent;
			@include flexbox();
		}

		&__elem {
			width: 20%;
			margin-left: -1px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__select {
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}