.sidebar_group {
	max-width: 384px;
	margin: 0 auto 40px auto;
}

.sidebar_heading {
	color: #283442;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2rem;
	padding-left: 30px;
	margin-bottom: 15px;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		text-align: right;
		padding-left: 0;
		padding-right: 30px;
	}
}

.sidebar_button {

	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}

.tours_nav {
	margin: 0;
	padding: 0;
	list-style: none;

	li {

		a {
			color: #457FC7;
			width: 100%;
			max-width: 300px;
			font-size: 1.3rem;
			position: relative;
			line-height: 1.5rem;
			text-decoration: none;
			display: inline-block;
			padding: 10px 0 10px 30px;
			text-transform: uppercase;

			.ico-svg {
				fill: #457FC7;
			}

			&:hover {
				color: #000;
				text-decoration: none;


				.ico-svg {
					fill: #000;
				}
			}
		}

		i {
			left: 0;
			top: 50%;
			position: absolute;
			display: inline-block;

			&.tours_nav_icon_01 {
				width: 21px;
				height: 22px;
				margin-top: -11px;
			}
			&.tours_nav_icon_02 {
				width: 22px;
				height: 23px;
				margin-top: -11px;
			}
			&.tours_nav_icon_03 {
				width: 18px;
				height: 19px;
				margin-top: -10px;
			}
			&.tours_nav_icon_04 {
				width: 20px;
				height: 17px;
				margin-top: -9px;
			}
			&.tours_nav_icon_05 {
				left: -7px;
				width: 26px;
				height: 28px;
				margin-top: -14px;
			}
			&.tours_nav_icon_06 {
				width: 20px;
				height: 18px;
				margin-top: -9px;
			}
			&.tours_nav_icon_07 {
				width: 21px;
				height: 20px;
				margin-top: -10px;
			}
			&.tours_nav_icon_08 {
				width: 20px;
				height: 18px;
				margin-top: -9px;
			}
			&.tours_nav_icon_09 {
				width: 15px;
				height: 18px;
				margin-top: -9px;
			}
			&.tours_nav_icon_10 {
				width: 19px;
				height: 17px;
				margin-top: -9px;
			}
			&.tours_nav_icon_11 {
				width: 17px;
				height: 21px;
				margin-top: -10px;
			}
			&.tours_nav_icon_12 {
				left: -9px;
				width: 29px;
				height: 23px;
				margin-top: -12px;
			}
			&.tours_nav_icon_13 {
				width: 11px;
				height: 27px;
				margin-top: -14px;
			}
			&.tours_nav_icon_14 {
				width: 19px;
				height: 18px;
				margin-top: -9px;
			}
			&.tours_nav_icon_15 {
				width: 20px;
				height: 16px;
				margin-top: -8px;
			}
			&.tours_nav_icon_16 {
				width: 18px;
				height: 18px;
				margin-top: -9px;
			}
			&.tours_nav_icon_17 {
				width: 20px;
				height: 22px;
				margin-top: -11px;
			}
			&.tours_nav_icon_18 {
				width: 23px;
				height: 14px;
				margin-top: -7px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {

			a {
				text-align: right;
				padding: 10px 30px 10px 0;
			}

			i {
				left: auto;
				top: 50%;
				right: 0;
				position: absolute;
				display: inline-block;

				&.tours_nav_icon_05 {
					left: auto;
					right: -7px;
				}

				&.tours_nav_icon_12 {
					left: auto;
					right: -9px;
				}
			}

		}
	}
}


.service_nav {
	margin: 0;
	padding: 0;
	list-style: none;

	li {

		a {
			color: #457FC7;
			width: 100%;
			max-width: 300px;
			font-size: 1.3rem;
			position: relative;
			line-height: 1.5rem;
			text-decoration: none;
			display: inline-block;
			padding: 10px 0 10px 30px;
			text-transform: uppercase;

			span {
				text-decoration: underline;
			}

			.ico-svg {
				fill: #457FC7;
			}

			&:hover {
				color: #000;
				text-decoration: none;

				span {
					text-decoration: none;
				}

				.ico-svg {
					fill: #000;
				}
			}
		}

		i {
			left: 0;
			top: 50%;
			position: absolute;
			display: inline-block;

			&.service_nav_icon_01 {
				width: 23px;
				height: 24px;
				margin-top: -12px;
			}
			&.service_nav_icon_02 {
				width: 24px;
				height: 14px;
				margin-top: -7px;
			}
			&.service_nav_icon_03 {
				width: 19px;
				height: 19px;
				margin-top: -10px;
			}
			&.service_nav_icon_04 {
				width: 19px;
				height: 20px;
				margin-top: -10px;
			}
			&.service_nav_icon_05 {
				width: 23px;
				height: 22px;
				margin-top: -11px;
			}
			&.service_nav_icon_06 {
				width: 18px;
				height: 19px;
				margin-top: -10px;
			}
			&.service_nav_icon_07 {
				width: 19px;
				height: 18px;
				margin-top: -9px;
			}
			&.service_nav_icon_08 {
				width: 19px;
				height: 17px;
				margin-top: -9px;
			}
			&.service_nav_icon_09 {
				width: 21px;
				height: 16px;
				margin-top: -8px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {

			a {
				text-align: right;
				padding: 10px 30px 10px 0;
			}

			i {
				left: auto;
				top: 50%;
				right: 0;
				position: absolute;
				display: inline-block;
			}
		}
	}
}

.sidebar_filter {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 6px 0;
	}

	&__elem {
		font-size: 0;
		line-height: 0;
		font-weight: 400;
		position: relative;
		display: inline-block;

		input {
			display: none;
		}

		span {
			cursor: pointer;
			padding-left: 30px;
			color: $color-blue;
			font-size: 1.3rem;
			line-height: 2.2rem;
			position: relative;
			text-transform: uppercase;
			text-decoration: underline;

			&:before {
				top: 0;
				left: 0;
				z-index: 10;
				content: '';
				width: 22px;
				height: 22px;
				position: absolute;
				border: 1px solid #D3D9DE;
				@include border-radius(5px);
			}

			&:after {
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 10;
				content: '';
				width: 22px;
				height: 22px;
				visibility: hidden;
				position: absolute;
				background: url("../img/icon__checkbox.svg") 50% 50% no-repeat;
			}
		}

		input:checked + span {

			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			text-align: right;
		}

		&__elem {

			span {
				padding-left: 0;
				padding-right: 30px;

				&:before {
					right: 0;
					left: auto;
				}

				&:after {
					right: 0;
					left: auto;
				}
			}
		}
	}
}

.sidebar_photo {
	margin-bottom: 30px;

	&__item {
		width: 224px;
		overflow: hidden;
		position: relative;
		@include border-radius(15px);
		@include box-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));

		> span {
			left: 0;
			bottom: 25px;
			color: #000;
			font-weight: 600;
			background: #fff;
			font-size: 1.2rem;
			line-height: 1.8rem;
			position: absolute;
			display: inline-block;
			padding: 5px 25px 5px 10px;
			text-transform: uppercase;
			@include border-radius(0 14px 14px 0);
		}
	}

	&__empty {
		width: 224px;
		height: 225px;
	//	overflow: hidden;
		position: relative;
		@include flexbox();
		@include flex-direction(column);
		background: #fff url("../img/no_photo.svg") 50% 50% no-repeat;
	}

	&__upload {
		width: 100%;
		font-size: 0;
		margin: auto 0;
		line-height: 0;
		font-weight: 400;
		text-align: center;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 176px;
			cursor: pointer;
			padding: 13px 15px;
			overflow: hidden;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1.2rem;
			color: rgba(0,0,0,0.5);
			display: inline-block;
			text-align: center;
			border: 1px solid #9FD5F5;
			text-transform: uppercase;
			@include border-radius(26px);
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include justify-content(flex-end);
	}
}

.sidenav {
	max-width: 360px;
	margin-bottom: 25px;

	&__title {
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 1.9rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #457FC7;
				font-weight: 400;
				font-size: 1.3rem;
				line-height: 1.9rem;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					color: #F61280;
				}
			}
		}

		&_value {
			padding: 0 4px;
			color: #fff;
			margin-left: 3px;
			position: relative;
			display: inline-block;
			background: $color-purple;
			@include border-radius(5px);

			&:before {
				left: 0;
				bottom: -5px;
				content: '';
				height: 9px;
				width: 10px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon__quote.svg") 0 100% no-repeat;
			}
		}

		&_exit {
			color: #828282 !important;

			&:hover {
				color: $color-purple !important;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}


.side {
	padding: 20px 20px 30px 20px;
	background: #F7FBFF;
	border: 1px solid #EAF3FD;
	@include border-radius(25px);
	@include box-shadow(0px 0px 12px rgba(155, 183, 255, 0.05));

	h6 {
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__list {
		margin: 0;
		padding: 0;
		font-size: 1.3rem;
		line-height: 1.7rem;
		list-style: none;

		li {
			padding: 3px 0;
		}
	}

	&_form {

		&_group {
			padding-top: 20px;
			padding-bottom: 10px;
			margin-bottom: 20px;
			border-top: 1px solid #B4D7FF;
			border-bottom: 1px solid #B4D7FF;
		}

		.form_group {
			margin-bottom: 10px;
		}
	}


	@media (min-width: $screen-xl-min) {
		padding: 20px 35px 30px 35px;
	}
}

.image_group {
	margin: 0 -8px;
	@include flexbox();
	@include flex-wrap(wrap);


	&__item {
		width: 278px;
		max-width: calc(50% - 16px);
		display: block;
		overflow: hidden;
		margin: 0 8px 16px 8px;

		@include border-radius(25px);
	}
}


