.blog {
	padding: 0;
	max-width: 330px;
	list-style: none;
	margin: 0 auto;

	&__col {
		margin-bottom: 40px;
	}


	&__tile {
		display: block;
		position: relative;
		text-decoration: none;
		@include border-radius(25px);

		&:hover {
			@include box-shadow(0px 17px 60px rgba(132, 154, 255, 0.31));
		}

		&_image {
			overflow: hidden;
			position: relative;
			@include border-radius(25px);
		}

		&_inner {
			margin: 0 -72px 0 -250px;
		}

		&_name {
			top: 20px;
			left: 20px;
			color: #000;
			z-index: 10;
			background: #fff;
			padding: 5px 14px;
			font-size: 1.3rem;
			line-height: 2.3rem;
			position: absolute;
			display: inline-block;
			@include border-radius(17px);
		}

		&_title {
			z-index: 5;
			top: 120px;
			left: 20px;
			right: 20px;
			color: #fff;
			font-weight: 700;
			font-size: 2.8rem;
			line-height: 3.2rem;
			position: absolute;
			text-transform: uppercase;
		}

		&_text {
			left: 50%;
			bottom: 20px;
			color: #fff;
			width: 200px;
			height: 200px;
			font-size: 2rem;
			font-weight: 700;
			margin-left: -100px;
			line-height: 2.4rem;
			text-align: center;
			position: absolute;
			text-transform: uppercase;
			background: rgba(0, 0, 0, 0.84);
			@include border-radius(50%);
			@include flexbox();
			@include flex-direction(column);

			span {
				padding: 0 20px;
				display: block;
				margin: auto 0;
			}
		}

		&_tags {
			left: 20px;
			bottom: 20px;
			color: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
			display: block;
			position: absolute;
		}
	}

	&__quote {
		color: #000;
		font-weight: 300;
		font-size: 2.8rem;
		line-height: 3.2rem;
		text-align: center;
		margin-bottom: 50px;

		span {
			display: block;
			text-transform: uppercase;

			&:last-child {
				padding-top: 10px;
			}
		}

		&_author {
			font-size: 1.6rem;
			text-align: center;
			line-height: 2rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__quote {
			font-size: 3.6rem;
			line-height: 4.2rem;

			&_author {
				font-size: 1.6rem;
				text-align: center;
				line-height: 2rem;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&__col {
			width: calc(50% - 16px);

			&_large {
				width: 100%;
			}
		}

		&__tile {

			&_wrap {
				margin-top: -64px;
			}

			&_inner {
				margin: 0;
			}

			&_name {
				top: 30px;
				left: 30px;
			}

			&_title {
				z-index: 5;
				top: 130px;
				left: 30px;
				right: auto;
				max-width: 500px;
				font-size: 3.6rem;
				line-height: 4.4rem;
				position: absolute;
				text-transform: uppercase;
			}

			&_tags {
				left: 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__tile {

			&_wrap {
				margin-top: -84px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__col {
			width: calc(33.33% - 16px);

			&_large {
				width: calc(66.66% - 16px);
			}
		}

		&__tile {

			&_wrap {
				margin-top: -19px;
			}

			&_text {
				color: #fff;
				width: 228px;
				height: 228px;
				font-size: 2.4rem;
				line-height: 2.9rem;
				margin-left: -114px;
			}
		}
	}
}

.blog_date {
	font-size: 1.8rem;
	line-height: 2rem;
	margin-top: -10px;
	margin-bottom: 25px;
}

.content_image {
	overflow: hidden;
	@include border-radius(25px);
}

.blog_like {
	padding-top: 70px;
	text-align: center;

	&__button {
		width: 76px;
		height: 76px;
		font-size: 0;
		line-height: 0;
		display: block;
		text-align: center;
		margin: 0 auto 25px auto;
		border: 1px solid #5482BB;
		@include border-radius(50%);
		background: #77B0F6 url("../img/icon__hand.svg") 50% 40% no-repeat;
		@include transition(.3s);

		&:hover {
			background-color: #5482BB;
			@include transition(.3s);
		}
	}

	&__text {
		color: #000;
		display: block;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		text-align: center;
	}
}