.guide_heading {
	margin-bottom: 40px;

	&__text {
		color: #000;
		margin-bottom: 15px;

		h2 {
			margin-bottom: 0;
		}
	}

	&__action {

	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&__text {
			margin-bottom: 0;
		}
	}
}