.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1100;
	background: #fff;
	position: absolute;
	padding-bottom: 20px;
	@include box-shadow(0px 0px 25px 0px rgba(0, 0, 0, 0.1));

	&__top {
		@include flexbox();
		@include justify-content(flex-end);
	}

	&__topnav {
		padding: 0;
		list-style: none;
		font-size: 1.1rem;
		line-height: 2rem;
		margin: 0 30px 0 0;
		@include flexbox();

		> li {

			&:after {
				content: '|';
				padding: 0 5px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				color: #6A6A6A;
				text-decoration: underline;

				&:hover {
					color: #6A6A6A;
					text-decoration: none;
				}
			}
		}
	}

	&__lng {
		margin: 0;
		padding: 0;
		font-size: 1.1rem;
		line-height: 2rem;
		list-style: none;
		@include flexbox();

		> li {

			&:after {
				content: '|';
				padding: 0 5px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				color: #151515;
				padding-left: 18px;
				display: inline-block;
				text-decoration: none;

				&.ru {
					background: url("../img/lng_ru.svg") 0 50% no-repeat;
				}

				&.en {
					background: url("../img/lng_us.svg") 0 50% no-repeat;
				}

				span {
					text-decoration: underline;
				}

				&:hover {
					color: #151515;

					span {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__main {
		padding-top: 10px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		width: 100px;
		display: block;
	}

	&__toggle {
		width: 44px;
		height: 44px;
		font-size: 0;
		line-height: 0;
		padding: 12px 10px;
		display: inline-block;
		border: 2px solid #79CC2E;
		@include border-radius(50%);

		span {
			width: 100%;
			height: 2px;
			margin-bottom: 5px;
			background: #79CC2E;
			position: relative;
			display: inline-block;
			@include transition(.3s);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__nav {
		top: 0;
		left: 0;
		width: 240px;
		height: 100vh;
		z-index: 1200;
		position: fixed;
		background: #fff;
		margin-left: -260px;
		padding: 30px 20px;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
		@include transition(0.25s);
	}

	&__menu {
		margin: 0 0 5px 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;


		> li {

			a {
				padding: 8px 0;
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 2rem;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}

	&__travel {
		color: #000;
		padding: 5px 0;
		width: 29px;
		height: 42px;
		font-size: 0;
		line-height: 0;
		margin-bottom: 10px;
		position: relative;
		text-decoration: none;
		display: inline-block;

		span {
			left: 0;
			right: 0;
			top: -10px;
			font-weight: 700;
			font-size: 12px;
			line-height: 12px;
			text-align: center;
			position: absolute;
			display: inline-block;
		}
	}

	&__auth {
		padding: 5px 0;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		text-decoration: none;
		text-transform: uppercase;
		@include flexbox();

		a {

			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		span {
			padding: 0 7px;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 10px;

		&__main {
			padding-top: 0;
		}

		&__toggle {
			display: none;
		}

		&__nav {
			top: auto;
			left: auto;
			margin: 0;
			padding: 10px 0 0 0;
			width: auto;
			height: auto;
			position: relative;
			background: transparent;
			@include box-shadow(none);
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(flex-end);
			@include align-items(center);
		}

		&__menu {
			margin: 0 15px 0 0;
			@include flexbox();
			@include order(1);

			> li {
				margin: 0 8px;

				a {
					font-size: 1.4rem;
				}
			}
		}

		&__travel {
			margin-bottom: 0;
			@include order(3);
		}

		&__auth {
			font-size: 1.4rem;
			margin-right: 20px;
			@include order(2);
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 25px;

		&__logo {
			width: 119px;
		}

		&__nav {
			padding-top: 5px;
		}

		&__menu {
			margin: 0 5px 0 0;
			@include flexbox();
			@include order(1);

			> li {
				margin: 0 3px;

				a {
					font-size: 1.6rem;
					padding: 12px 20px;
					@include border-radius(22px);

					&:hover {
						color: #fff;
						background: #77B0F6;
					}
				}

				&.active {

					a {
						color: #fff;
						background: #77B0F6;
					}
				}
			}
		}

		&__travel {
			margin-right: 35px;
			@include order(2);
		}

		&__auth {
			padding: 0;
			min-width: 242px;
			margin-right: 0;
			font-size: 1.6rem;
			@include order(3);
			text-align: center;
			border: 2px solid #79CC2E;
			@include border-radius(30px);

			a {
				padding: 18px 6px;

				&:first-child {
					padding-left: 26px;
				}

				&:last-child {
					padding-right: 26px;
				}

				&:hover {
					text-decoration: underline;
				}

				&.auth_ok {
					width: 100%;
					padding: 18px 6px !important;
				}
			}

			span {
				padding: 18px 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 240px;
		background: url("../img/header__bg.png") 50% 0 no-repeat;
		@include box-shadow(none);


		&__menu {

			> li {

				a {
					color: #fff;

					&:hover {
						color: #262626;
						background: #fff;
					}
				}

				&.active {

					a {
						color: #262626;
						background: #fff;
					}
				}

				&:last-child {

					a {
						color: #262626;

						&:hover {
							color: #6EA1EE;
							background: transparent;
						}
					}

					&.active {

						a {
							color: #6EA1EE;
							background: transparent;
						}
					}
				}
			}
		}
	}
}




.page {

	&.nav_open {
		height: 100vh;
		overflow: hidden;

		.header__toggle {

			span {
				@include transition(.3s);

				&:nth-child(1) {
					top: 7px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}

		.header__nav {
			margin-left: 0;
			@include transition(0.25s);
		}
	}

	@media (min-width: $screen-sm-min) {

		&.nav_open {
			height: auto;
		}

		.header__nav {
			@include transition(0);
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {
}

@media (min-width: $screen-xl-min) {

}