.modal {
	margin: 0;
	width: 90%;
	padding: 0;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2rem;
	max-width: 360px;
	position: relative;
	background-size: cover;

	&__prev {
		top: 10px;
		left: 10px;
		width: 12px;
		height: 21px;
		z-index: 100;
		cursor: pointer;
		position: absolute;
		display: inline-block;
	}


	&__main {
		width: 100%;
		padding: 40px 20px;
	}

	.fancybox-close-small {
		outline: none;
		font-size: 0;
		line-height: 0;
		color: transparent;

		&:after,
		&:before {
			width: 24px;
			height: 1px;
			content: '';
			left: 50%;
			top: 50%;
			outline: none;
			margin-left: -12px;
			background: #72A5E3;
			display: block;
			position: absolute;
			@include border-radius(0)
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__heading {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 20px;

		&_title {
			color: #000;
			display: inline-block;
			text-transform: uppercase;
		}

		span {
			color: #A7A7A7;
			padding: 0 5px;
			display: inline-block;
		}

		a {
			color: #72A5E3;
			display: inline-block;
			text-transform: uppercase;
			text-decoration: underline;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&__body {

		.btn {
			width: 100%;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;


		a {
			color: #72A5E3;
			text-decoration: none;

			&:hover {
				color: #72A5E3;
				text-decoration: underline;
			}
		}
	}

	&__info {
		max-width: 420px;
		margin: 0 auto;

		&_success {
			left: -10px;
			width: 144px;
			position: relative;
			margin: 0 auto 45px auto;
		}

		&_auto {
			width: 150px;
			position: relative;
			margin: 0 auto 40px auto;
		}

		&_key {
			width: 128px;
			position: relative;
			margin: 0 auto 10px auto;
		}

		&_title {
			color: #000;
			font-size: 2rem;
			font-weight: 700;
			line-height: 2.2rem;
			text-align: center;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&_subtitle {
			color: #000;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align: center;
			margin-bottom: 15px;
		}

		&_text {
			color: #6E6C74;
			font-size: 1.2rem;
			line-height: 1.6rem;
			margin-bottom: 15px;
			text-align: center;

			a {
				color: $color-blue;
				text-decoration: underline;

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}
			}

			p {
				margin-bottom: 15px;
			}
		}

		&_button {
			margin: 0 auto;
			max-width: 370px;
		}
	}

	&__footer {
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 20;
		color: #6E6C74;
		font-size: 1.2rem;
		line-height: 1.4rem;
		text-align: center;
		position: absolute;
	}

	.form_label {
		color: #6E6C74;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.form_control {
		height: 46px;
		font-weight: 400;
		padding: 12px 20px;
		font-size: 1.6rem;
		border: 1px solid #D3D9DE;
		@include border-radius(3px);
	}

	&__box {
		margin: 0 -20px 20px -20px;
		background: #fff;
		padding: 35px 30px;
		text-align: center;
		border-top: 1px solid #B3D7EE;
		border-bottom: 1px solid #B3D7EE;

		&_text {
			color: #000;
			font-size: 1.6rem;
			line-height: 2rem;
			text-transform: uppercase;
		}

		&_title {
			margin-top: -15px;
			color: #6E6C74;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&_input {
			width: 160px;
			margin-left: auto;
			margin-right: auto;
		}

		&_form {
			max-width: 370px;
			margin: 0 auto;

			.btn {
				width: 100%;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		width: 700px;
		max-width: inherit;

		&__prev {
			top: 25px;
			left: 25px;
		}

		.fancybox-close-small {
			top: 25px;
			right: 25px;
		}

		&__main {
			height: 500px;
			padding: 40px 35px;
			@include flexbox();
			@include flex-direction(column);
			background: #fff url("../img/modal__bg.png") 50% 100% no-repeat;
		}

		&__wrap {
			display: block;
			margin: auto 0;
		}


		&__row {
			@include flexbox();

			&_left {
				text-align: right;
				width: 165px;
				min-height: 1px;
				margin-bottom: 0;
				padding-right: 10px;
				@include flexbox();
				@include flex-shrink(0);
			}

			&_right {
				padding-right: 165px;
				@include flex-grow(1);
			}
		}

		.form_label {
			text-align: right;
			margin: auto 0;

			&_top {
				margin: 0;
			}
		}

		&__box {
			margin: 0 -35px 20px -20px;
			padding: 35px 50px;

			&_button {
				margin-bottom: -60px;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		width: 778px;

		&__main {
		}

		&__heading {
			font-size: 2rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__main {
			height: 639px;
		}
	}
}