.page {
	width: 100%;
	background: #fff;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	@include flexbox();
	@include flex-direction(column);

	&_wrap {
		width: 100%;
		z-index: 300;
		min-height: 100vh;
		position: relative;
		@include flexbox();
		@include flex-direction(column);
	}

	&_home {
		background: #FAFAFA url("../img/homepage/bg.jpg") 50% 0 no-repeat;

		&__item {
			position: relative;
		}

		&__elem {
			z-index: 1;
			display: none;
			position: absolute;

			&.elem_01 {
				left: 50%;
				top: 133px;
				width: 512px;
				height: 492px;
				margin-left: -895px;
			}

			&.elem_02 {
				left: 50%;
				top: 524px;
				width: 217px;
				height: 257px;
				margin-left: -760px;
			}

			&.elem_03 {
				left: 50%;
				top: 740px;
				width: 260px;
				height: 230px;
				margin-left: -878px;
			}

			&.elem_04 {
				left: 50%;
				top: 613px;
				width: 364px;
				height: 421px;
				margin-left: -660px;
			}

			&.elem_05 {
				left: 50%;
				top: 203px;
				width: 76px;
				height: 76px;
				opacity: 0.5;
				margin-left: -435px;
				background: radial-gradient(37.50px at 50% 50%, #F3E3FC 0%, #E3E5FD 100%);
				@include border-radius(50%);
			}

			&.elem_06 {
				right: 50%;
				top: 400px;
				width: 149px;
				height: 175px;
				margin-right: -610px;
			}

			&.elem_07 {
				right: 50%;
				top: 185px;
				width: 358px;
				height: 407px;
				margin-right: -950px;
			}

			&.elem_08 {
				right: 50%;
				top: 605px;
				opacity: 0.5;
				width: 108px;
				height: 136px;
				margin-right: -790px;
			}

			&.elem_09 {
				right: 50%;
				top: 601px;
				width: 286px;
				height: 494px;
				margin-right: -710px;
			}

			&.elem_10 {
				right: 50%;
				top: 125px;
				width: 231px;
				height: 264px;
				margin-right: -690px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&_home {

			&__elem {
				display: block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&_home {
			background-size: cover;
		}
	}
}

.main {
	padding-top: 50px;
	min-height: 400px;
	padding-bottom: 60px;
	@include flex-grow(1);

	&_row {

	}

	&__center {
		margin-bottom: 30px;
	}

	&_content {

		&__row {
			margin-bottom: 80px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&_row {
			margin-left: -15px;
			@include flexbox();
			@include flex-wrap(wrap);

			&_wrap {

			}
		}

		&_sidebar {
			width: 285px;
			padding-right: 30px;
			@include flex-shrink(0);
		}

		&_content {
			width: 420px;
			@include flex-shrink(1);
		}

		&_center {
		}
	}
	@media (min-width: $screen-md-min) {

		&_row {
			@include flex-wrap(nowrap);
		}

		&_content {
			width: 670px;

			&__row {
				@include flexbox();
			}
		}

		&_center {
			width: 420px;
			padding-right: 20px;
		}

		&_right {
			width: 250px;
			@include flex-shrink(1);
		}
	}

	@media (min-width: $screen-lg-min) {

		&_content {
			width: 870px;
		}

		&_center {
			width: 570px;
			padding-right: 20px;
		}

		&_right {
			width: 300px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&_content {
			width: 1224px;
		}

		&_center {
			width: 874px;
			padding-right: 20px;
		}

		&_right {
			width: 350px;
		}
	}
}

.content_block {
	margin-bottom: 50px;
}

.page_heading {
	color: #000;
	margin: 0 auto;
	max-width: 1690px;
	padding-top: 150px;
	padding-bottom: 60px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	@include border-radius(0 0 25px 25px);
	@include box-shadow(0px 12px 43px rgba(114, 165, 227, 0.24));

	h1 {
		font-weight: 800;
		font-size: 3rem;
		line-height: 4rem;
		max-width: 400px;
		min-height: 120px;
		display: inline;
		text-transform: uppercase;

		span {

		}

		.small {

		}
	}

	&__second {
		font-weight: 600;
		font-size: 1.6rem;
		display: inline-block;
		line-height: 2rem !important;
		text-transform: initial;
	}

	@media (min-width: $screen-sm-min) {
		height: 500px;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);

		.container {
			margin: auto;
		}

		h1 {
			z-index: 5;
			font-size: 4rem;
			position: relative;
			line-height: 4.8rem;
			background: #fff;
			box-decoration-break: clone;
			filter: url('#goo');

			span {
				padding: 0 15px;
			}
		}

		&__second {
			top: -15px;
			z-index: 1;
			display: inline-block;
			padding: 20px 15px 10px 15px;
			background: #fff;
			position: relative;
			box-decoration-break: clone;
			filter: url('#goo');
		}
	}

	@media (min-width: $screen-md-min) {
		height: 574px;
		padding-top: 160px;


		h1 {
			font-size: 5rem;
			line-height: 5.8rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 150px;

		h1 {
			font-size: 6.2rem;
			line-height: 7.2rem;
		}
	}


	&_wrap {

	}
}

.page_top {
	padding-top: 200px;
	padding-bottom: 60px;
	background: rgba(48, 107, 149, 0.05);
}


.goods {
	color: #000;
	height: 100%;
	background: #fff;
	text-decoration: none;
	@include border-radius(25px);
	@include box-shadow(0px 4px 22px rgba(114, 165, 227, 0.25));
	@include flexbox();
	@include flex-direction(column);

	&:hover {
		@include box-shadow(0px 8px 22px rgba(114, 165, 227, 0.55));
	}

	&__row {
		width: 100%;
		max-width: 100%;
		@include flex-basis(100%);

	}

	&__lang {
		margin-left: -15px;
		margin-bottom: 10px;

		&_elems {
			height: 30px;
			font-size: 1rem;
			position: relative;
			line-height: 1.2rem;
			background: #EAF5FD;
			display: inline-block;
			text-transform: uppercase;
			padding: 9px 20px 9px 15px;
			@include border-radius(0 15px 15px 0);
		}

		span {
			text-decoration: underline;
		}
	}

	&__elem {
		max-width: 384px;
		margin: 0 auto 40px auto;
	}

	&__image {
		display: block;
		position: relative;

		&_wrap {
			display: block;
			overflow: hidden;
			position: relative;
			@include border-radius(25px 25px 0 0);

			&:before {
				top: 50%;
				left: 50%;
				content: '';
				z-index: 200;
				width: 126px;
				height: 126px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				margin: -63px 0 0 -63px;
				background: rgba(255, 255, 255, 0.87) url("../img/icon__plane_package.svg") 50% 50% no-repeat;
				@include border-radius(50%);
				@include transition(.4s);
			}
		}

		&:hover {

			.goods__image_wrap {

				&:before {
					opacity: 1;
					visibility: visible;
					@include transition(.4s);
				}
			}
		}

	}

	&__tags {
		left: 0;
		top: 22px;
		height: 28px;
		z-index: 10;
		padding: 0 10px;
		background: #fff;
		font-weight: 700;
		font-size: 1.2rem;
		position: absolute;
		line-height: 1.6rem;
		text-transform: uppercase;
		@include border-radius(0 14px 14px 0);
		@include flexbox();
		@include align-items(center);

		a {
			color: #000;
			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		i {
			width: 10px;
			height: 28px;
			margin: 0 10px 0 20px;
			display: inline-block;
			background: url("../img/icon__angle_right_md.png") 50% 50% no-repeat;
		}

		span {
			display: inline-block;
		}
	}

	&__sale {
		top: -5px;
		z-index: 10;
		color: #fff;
		width: 68px;
		height: 74px;
		right: 35px;
		font-size: 1rem;
		font-weight: 800;
		padding-top: 15px;
		line-height: 1.5rem;
		text-align: center;
		position: absolute;
		text-transform: uppercase;

		&_red {
			background: url("../img/goods__sale_red.png") 50% 50% no-repeat;
		}

		&_purple {
			background: url("../img/goods__sale_purple.png") 50% 50% no-repeat;
		}

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 800;
			font-size: 1.8rem;
			line-height: 2.2rem;
		}
	}

	&__new {
		top: -20px;
		right: 20px;
		width: 90px;
		height: 90px;
		color: #3E3E3E;
		text-align: center;
		font-weight: 700;
		font-size: 1.1rem;
		line-height: 1.6rem;
		position: absolute;
		text-transform: uppercase;
		background: linear-gradient(118.32deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
		@include border-radius(50%);
		@include flexbox();
		@include flex-direction(column);

		span {
			display: block;
			margin: auto 0;
		}
	}

	&__time {
		left: 0;
		color: #000;
		height: 32px;
		bottom: 28px;
		background: #fff;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		position: absolute;
		text-transform: uppercase;
		padding: 6px 35px 6px 55px;
		@include border-radius(0 16px 16px 0);

		&_icon {
			top: 50%;
			left: 5px;
			content: '';
			z-index: 10;
			width: 40px;
			height: 40px;
			margin-top: -20px;
			position: absolute;
			display: inline-block;
			background: #fff url("../img/icon__time.svg") 50% 50% no-repeat;
			@include border-radius(50%);
			@include box-shadow(0px 4px 22px rgba(114, 165, 227, 0.25));

			&:before {
				left: 0;
				color: #fff;
				bottom: 100%;
				display: none;
				padding: 7px 10px;
				font-size: 1.1rem;
				line-height: 1.3rem;
				margin-bottom: 10px;
				position: absolute;
				white-space: nowrap;
				text-transform: uppercase;
				background: rgba(0, 0, 0, 0.9);
				content: attr(data-toltip);
				@include border-radius(14px);
			}

			&:after {
				left: 11px;
				bottom: 100%;
				content: '';
				opacity: 0.9;
				display: none;
				margin-bottom: -6px;
				position: absolute;
				border: 8px solid transparent;
				border-top: 8px solid #000;
			}

			&:hover {

				&:after,
				&:before{
					display: block;
				}
			}
		}

		&:before {
			top: 50%;
			content: '';
			right: 10px;
			z-index: 10;
			width: 15px;
			height: 14px;
			margin-top: -7px;
			position: absolute;
			background: url("../img/icon__clock.svg") 50% 50% no-repeat;
		}
	}

	&__rating {
		right: 0;
		color: #000;
		bottom: 28px;
		height: 32px;
		background: #fff;
		padding: 0 5px 0 15px;
		position: absolute;
		@include flexbox();
		@include align-items(center);
		@include border-radius(16px 0 0 16px);

		&_star {
			display: inline-block;
		}

		&_text {
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.4rem;
			padding-left: 8px;
			display: inline-block;
			text-transform: uppercase;
		}
	}

	&__content {
		color: #000;
		text-decoration: none;
		overflow: hidden;
		position: relative;
		padding: 15px 15px 40px 15px;
		@include flex-grow(1);
		@include flexbox();
		@include flex-direction(column);

		&:before {
			right: 21px;
			z-index: 20;
			width: 18px;
			height: 31px;
			content: '';
			bottom: 42px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__chevron_right.svg") 50% 50% no-repeat;
		}
	}

	&__name {
		height: 56px;
		overflow: hidden;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 2.8rem;
		margin-bottom: 10px;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		@include flex-shrink(0);
	}

	&__user {
		height: 28px;
		overflow: hidden;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 2.8rem;
		margin-bottom: 10px;
		display: block;
		position: relative;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		@include flex-shrink(0);

		&:before {
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			width: 71px;
			content: '';
			display: block;
			position: absolute;
			background: linear-gradient(270deg, #FFFFFF 28.75%, rgba(255, 255, 255, 0) 82.32%);
		}
	}

	&__text {
		color: #747474;
		display: block;
		text-decoration: none;
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-bottom: 15px;
		@include flex-grow(1);
	}

	&__guide {
		height: 30px;
		font-size: 1rem;
		position: relative;
		line-height: 1.2rem;
		background: #EAF5FD;
		display: inline-block;
		text-transform: uppercase;
		padding: 2px 10px 2px 6px;
		@include border-radius(15px);
		@include flexbox();
		@include align-items(center);

		&_wrap {
			margin-bottom: 30px;
			@include flexbox();
		}

		&__photo {
			width: 22px;
			height: 22px;
			overflow: hidden;
			margin-right: 5px;
			display: block;
			@include border-radius(0 50% 50% 0);

			span {
				color: #000;
				margin: 0 5px;
				display: inline-block;
				text-decoration: underline;

				&:first-child {
					text-decoration: none;
				}
			}
		}
	}

	&__price {
		font-size: 1.8rem;
		line-height: 3rem;

		span {
			font-weight: 600;
			font-size: 2.4rem;
		}
	}

	&__adv {
		padding: 30px;
		color: #fff;
		width: 100%;
		font-size: 3rem;
		font-weight: 800;
		text-align: center;
		line-height: 3.6rem;
		background: #77B0F6;
		margin-bottom: 50px;
		text-transform: uppercase;
		@include box-shadow(0px 4px 22px rgba(114, 165, 227, 0.25));
		@include border-radius(25px);

		span {
			display: block;
			max-width: 700px;
		}

		strong {
			font-size: 10rem;
			line-height: 11rem;
			display: block;
			font-weight: 800;
		}
	}

	&__data {
		font-size: 0;
		line-height: 0;
		padding-top: 5px;
		@include flexbox();

		&_item {
			margin-right: 30px;

			strong {
				display: block;
				font-size: 2.4rem;
				line-height: 2.8rem;
			}

			span {
				display: block;
				font-size: 1.8rem;
				line-height: 2rem;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		&__elem {
			max-width: inherit;
		}

		&__row {
		}
	}


	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__elem {
			margin: 0 0 40px 0;
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__elem {
			width: 384px;
		}

		&__adv {
			font-size: 3.6rem;
			line-height: 4.4rem;
			text-align: left;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
		//	width: 1229px;
			max-width: 100%;

		}
	}
}

.goods_view {
	padding-top: 30px;
	margin-bottom: 30px;
}



.raty {

	i {
		color: #FF3C58;
	}
}

.text_lead {
	color: #000;
	padding: 30px 25px;
	font-size: 1.8rem;
	line-height: 2.5rem;
	background: #F7F9F9;
	@include border-radius(25px);

	@media (min-width: $screen-sm-min) {
		padding: 30px 45px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 60px 30px 45px;
	}
}


.info_box {
	padding: 25px;
	font-size: 1.4rem;
	line-height: 2.1rem;
	background: #F7FBFF;
	border: 1px solid #EAF3FD;
	@include border-radius(25px);
}

.comments_value {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	padding: 1px 4px;
	position: relative;
	background: #F61280;
	text-decoration: none;
	display: inline-block;
	@include border-radius(5px 5px 5px 0);

	&:before {
		left: 0;
		bottom: -5px;
		content: "";
		height: 9px;
		width: 10px;
		position: absolute;
		display: inline-block;
		background: url('../img/icon__comments.svg') 0 100% no-repeat;
	}

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.blue_link {
	color: #72A5E3;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: underline;

	&:hover {
		color: #72A5E3;
		text-decoration: none;
	}
}


.tour_info {

	&__item {
		text-align: center;
		margin-bottom: 50px;
		@include flexbox();
		@include flex-direction(column);
	}

	&__status {
		color: #000;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-bottom: 5px;
	}

	&__image {
		height: 90px;
		text-align: center;

		img {
			max-width: 100%;
			height: auto;
			display: inline-block;
		}
	}

	&__name {
		color: #6E6C74;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&__item {
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-xl-min) {
		margin-bottom: 60px;

		&__item {
			margin-bottom: 0;
			width: calc(25% - 10px);
		}
	}
}

.tour_gallery {
	width: 276px;
	margin: 0 auto;

	&__item {
		display: block;
		overflow: hidden;
		position: relative;
		@include border-radius(25px);

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0;
			display: block;
			background: #000;
			position: absolute;
			@include transition(0.3s);
		}

		&:hover {

			&:before {
				opacity: 0.5;
				@include transition(0.3s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

.gallery_button_next,
.gallery_button_prev {
	top: 50%;
	z-index: 20;
	width: 22px;
	height: 67px;
	cursor: pointer;
	margin-top: -34px;
	position: absolute;
	display: inline-block;
	background: url("../img/slider__arrow.svg") 50% 50% no-repeat;
}

.gallery_button_prev {
	left: 10px;
}

.gallery_button_next {
	right: 10px;
	@include rotate(180deg);
}

.list_circle {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #6E6C74;
	font-size: 1.4rem;
	line-height: 2rem;
	text-transform: uppercase;

	li {
		position: relative;
		padding-left: 30px;
		margin-bottom: 17px;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			background: #6E6C74;
			display: inline-block;
			@include border-radius(50%);
		}
	}
}

.top_review {
	position: relative;
	border: 1px solid #77B0F6;
	padding: 35px 15px 35px 25px;
	@include border-radius(30px);

	&__heading {
		top: -20px;
		left: 40px;
		height: 40px;
		z-index: 20;
		padding: 0 15px;
		max-width: calc(100% - 70px);
		overflow: hidden;
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 2rem;
		position: absolute;
		background: #fff;
		border: 1px solid #77B0F6;
		text-transform: uppercase;
		@include flexbox();
		@include align-items(center);
		@include border-radius(20px);

		&_star {
			margin-right: 10px;
		}

		&_name {
			color: #7A7A7A;
			white-space: nowrap;
			display: inline-block;
		}

		&_date {
			color: #000;
			display: none;
			margin-left: 10px;
		}
	}

	&__text {
		color: #3C3C3C;
		font-size: 1.6rem;
		line-height: 2.6rem;
	}

	@media (min-width: $screen-sm-min) {
		padding: 35px 30px 25px 60px;

		&__heading {

			&_date {
				display: inline-block;
			}
		}

		&__text {
			font-size: 1.8rem;
			line-height: 2.9rem;
		}
	}
}


.review {

	&__heading {
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 8px;
		text-transform: uppercase;
		@include flexbox();
		@include align-items(center);

		&_name {
			color: #7A7A7A;
			white-space: nowrap;
			display: inline-block;
		}

		&_date {
			color: #000;
			display: inline-block;
			margin-left: 10px;
		}
	}

	&__rating {
		margin-bottom: 8px;
	}

	&__text {
		color: #7A7A7A;
		font-size: 1.3rem;
		line-height: 1.9rem;
	}
}


.white_box {
	color: #000;
	padding: 10px;
	background: #fff;
	font-size: 1.2rem;
	line-height: 1.6rem;
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}