.guide {
	padding-top: 160px;

	&__h1 {
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.25;
		text-align: center;
		margin-bottom: 30px;

		span {
			color: #6EA1EE;
			text-decoration: underline;
		}
	}

	&__advantage {
		padding: 0;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
		list-style: none;
		max-width: 732px;
		text-align: center;
		margin: 0 auto 60px auto;
		text-transform: uppercase;
		@include flexbox();
		@include justify-content(space-around);

		li {
			width: 90px;
			padding-top: 100px;

			&:nth-child(1) {
				background: url("../img/advantage__icon_01.svg") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/advantage__icon_02.svg") 50% -13px no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/advantage__icon_03.svg") 50% -13px no-repeat;
			}
		}
	}


	&__partners {
		font-size: 0;
		line-height: 0;
		margin: 0 -10px 20px -10px ;
		@include flexbox();
		@include justify-content(center);
		@include flex-wrap(wrap);

		a {
			width: 176px;
			display: block;
			background: #fff;
			overflow: hidden;
			margin: 0 10px 10px 10px;
			@include border-radius(25px);
			@include box-shadow(0px 4px 4px rgba(214,232,255,0.6));

			&:hover {
				@include box-shadow(0px 8px 8px rgba(214,232,255,0.6));
			}
		}
	}

	&__feature {
		background: #fff;
		margin: 0 0 40px 0;
		@include box-shadow(0px 15px 51px rgba(119, 149, 255, 0.12));


		ul {
			margin: 0;
			padding: 20px 0;
			list-style: none;
		}

		li {
			padding: 20px 0;
			text-align: center;
			position: relative;

			strong {
				color: #D6E8FF;
				display: block;
				font-size: 9rem;
				font-weight: 800;
				line-height: 9rem;
			}

			span {
				left: 0;
				right: 0;
				top: 50%;
				height: 50px;
				display: block;
				color: #9A8EB2;
				padding: 10px 0;
				font-size: 30px;
				line-height: 30px;
				margin-top: -25px;
				position: absolute;
				text-transform: uppercase;
				background: rgba(255,255,255,0.5);
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__h1 {
			font-size: 4.8rem;
		}

		&__advantage {
			@include justify-content(space-between);

			li {
				width: 130px;
			}
		}

		&__feature {

			ul {
				padding: 30px 0;
				@include flexbox();
				@include justify-content(space-around);
				@include align-items(center);
			}

			li {
			//	padding-top: 0;
			//	padding-bottom: 40px;

				strong {

				}

				span {

				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 190px;

		&__h1 {
			font-size: 6.3rem;
		}

		&__feature {
			height: 396px;
			margin: 0 -100px;
			background: url("../img/guide_feature__bg.png") 50% 50% no-repeat;
			@include box-shadow(none);

			ul {
				margin: 0 auto;
				height: 396px;
				padding-bottom: 60px;
				width: $container-md;
			}

			li {

				strong {
					font-size: 120px;
					line-height: 120px;
				}

				span {

				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__feature {

			ul {
				width: $container-lg;
			}

			li {

				strong {
					font-size: 180px;
					line-height: 180px;
				}

				span {

				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 230px;

		&__feature {

			ul {
				width: $container-xl;
				@include justify-content(flex-around);
			}

			li {

			}
		}
	}
}

.selection {
	max-width: 732px;
	margin: 0 auto 75px auto;

	&_group {
		margin-bottom: 30px;
	}

	&_switch{
		font-size: 0;
		line-height: 0;
		@include flexbox();
		background: #EAF5FD;
		@include border-radius(27px);

		label {
			width: 50%;
			display: block;
			@include flex-grow(1);

			input {
				display: none;
			}

			span {
				width: 100%;
				color: #6E6C74;
				cursor: pointer;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2rem;
				text-align: center;
				padding: 17px 15px;
				background: #EAF5FD;
				display: inline-block;
				@include border-radius(27px);
			}

			input:checked + span {
				color: #fff;
				background: -ms-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
				background: -webkit-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
				background: -moz-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
				background: -o-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
				background: linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
			}
		}
	}

	&_select {
		margin: 0;
		border: none;
		width: 100%;
		height: 54px;
		outline: none;
		color: #6E6C74;
		cursor: pointer;
		overflow: hidden;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		background: #EAF5FD url("../img/select__arrow.png") 100% 50% no-repeat;
		display: inline-block;
		text-decoration: none;
		-webkit-appearance: none;
		padding: 17px 50px 17px 25px;
		@include border-radius(27px);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		/* for FF */
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		/* for IE */
		-ms-appearance: none;
		appearance: none!important;

		&:focus {
			@include transition(.3s);
		}
	}

	&_input {
		margin: 0;
		width: 100%;
		height: 54px;
		outline: none;
		color: #6E6C74;
		cursor: pointer;
		overflow: hidden;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		text-align: center;
		padding: 16px 30px;
		background: #ffffff;
		display: inline-block;
		text-decoration: none;
		border: 1px solid #77B0F6;
		@include border-radius(27px);
		@include box-shadow(0px 26px 71px rgba(81, 97, 154, 0.22));

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
	}

	&_block {
		margin: 0 -4px 30px -4px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		label {
			font-size: 0;
			line-height: 0;
			display: inline-block;

			input {
				display: none;
			}

			span {
				width: 98px;
				color: #6E6C74;
				cursor: pointer;
				font-weight: 600;
				padding: 12px 5px;
				font-size: 1.2rem;
				line-height: 1.4rem;
				background: #FBFDFE;
				text-align: center;
				text-transform: uppercase;
				margin: 0 4px 15px 4px;
				display: inline-block;
				border: 1px solid #D1E6FF;
				@include border-radius(23px);

				&:hover {
					color: #77B0F6;
					background: #F0F3FA;
					border-color: #77B0F6;
				}
			}

			input:checked + span {
				color: #77B0F6;
				background: #F0F3FA;
				border-color: #77B0F6;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&_block {
			@include flex-wrap(nowrap);
		}
	}
}

.staff {
	padding-top: 20px;
	padding-bottom: 45px;

	&__heading {
		position: relative;

		margin-bottom: 50px;

		&_title {
			z-index: 10;
			color: #3A37AB;
			font-size: 3.6rem;
			line-height: 4rem;
			text-align: center;
			margin-bottom: 10px;
			position: relative;
			text-transform: uppercase;
		}

		&_arrow {
			z-index: 10;
			padding: 5px 0;
			color: #9A8EB2;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;

			a {
				color: #9A8EB2;
				text-decoration: none;

				&:hover {
					color: #9A8EB2;
					text-decoration: underline;
				}
			}
		}

		&_comment {
	//		background: url("../img/staff__arrow__left.png") 0 50% no-repeat;
		}

		&_stories {
	//		background: url("../img/staff__arrow__right.svg") 0 50% no-repeat;
		}
	}

	&__slider {
		padding: 0 15px;
		margin: 0 -15px;
	}

	&__user {
		width: 290px;
		color: #000;
		margin: 0 auto 50px auto;
		list-style: none;
		display: block;
		text-decoration: none;

		&_place {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align: center;
			margin-bottom: 20px;
		}

		&_image {
			width: 268px;
			height: 268px;
			margin: 0 auto;
			position: relative;
			@include border-radius(50%);
			@include box-shadow(0px 8px 14px rgba(0, 30, 40, 0.28));

			&.active {

				&:before {
					z-index: 1;
					top: -10px;
					left: -10px;
					right: -10px;
					bottom: -10px;
					content: '';
					display: block;
					position: absolute;
					background: #FBD471;
					@include border-radius(50%);
				}
			}
		}

		&_wrap {
			z-index: 10;
			width: 268px;
			height: 268px;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
		}
	}

	&__info {
		position: relative;
		padding-bottom: 1px;
		background: url("../img/staff__text_top.png") 50% 0 no-repeat;

		&:before {
			left: 0;
			right: 0;
			z-index: 1;
			bottom: 0;
			content: '';
			height: 1px;
			display: block;
			position: absolute;
			background: url("../img/staff__text_bottom.png") 50% 100% no-repeat;
			@include box-shadow(0px 15px 51px rgba(119, 149, 255, 0.12));
		}
	}

	&__name {
		z-index: 10;
		height: 78px;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-align: center;
		position: relative;
	}

	&__text {
		z-index: 10;
		color: #3C3C3C;
		margin: 0 auto;
		font-size: 1.8rem;
		line-height: 2.9rem;
		text-align: center;
		max-width: 1200px;
		background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 68%, rgba(255,255,255,0.3) 100%);
		padding: 40px 0;
		position: relative;

		&_wrap {
			margin: 0 auto;
			max-width: 660px;
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 40px;

		&__heading {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&_title {
				width: 210px;
				font-size: 4.8rem;
				line-height: 5.8rem;
				margin-bottom: 0;
				@include order(2);
			}

			&_arrow {
				width: 240px;
				text-align: left;
			}

			&_comment {
				@include order(1);
			}

			&_stories {
				padding-left: 30px;
				@include order(3);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {

			&_arrow {
				width: 350px;
				letter-spacing: 5px;
			}
		}

		&__user {
			margin-bottom: 60px;
		}

		&__text {
			padding: 60px 0 50px 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			height: 154px;

			&:after,
			&:before {
				top: 0;
				left: -30px;
				right: -30px;
				bottom: 0;
				z-index: 1;
				content: '';
				display: block;
				position: absolute;
			}

			&:after {
				background: url("../img/staff__arrow__left.png") 0 50% no-repeat;
			}

			&:before {
				background: url("../img/staff__arrow__right.png") 100% 50% no-repeat;
			}

			&_arrow {
				width: 420px;
				letter-spacing: 10px;
			}

			&_comment {
				padding-left: 40px;
			}

			&_stories {
				padding: 0 30px 0 20px;
				@include order(3);
			}
		}

		&__user {
			margin-bottom: 90px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.service_block {
	padding-top: 45px;
	padding-bottom: 20px;

	.heading {
		margin-bottom: 50px;
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 40px;

		.heading {

			margin-bottom: 60px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 60px;

		&__heading {
			margin-bottom: 110px;
		}
	}
}

.service_list {
	padding: 0;
	width: 290px;
	list-style: none;
	margin: 0 auto 40px auto;

	li {
		margin-bottom: 30px;

		a {
			color: #000;
			height: 150px;
			font-size: 18px;
			font-weight: 600;
			line-height: 22px;
			position: relative;
			background: #ffffff;
			text-decoration: none;
			padding: 10px 5px 10px 130px;
			@include border-radius(15px);
			@include box-shadow(0px 17px 60px rgba(132, 154, 255, 0.31));
			@include flexbox();
			@include flex-direction(column);

			&:hover {
				color: #000;
				text-decoration: none;
				@include box-shadow(0px 4px 60px rgba(208, 132, 255, 0.38));

				&:after {
					opacity: 1;
					visibility: visible;
					@include transition(.3s);
				}
			}

			span {
				margin: auto 0;
				display: block;
			}

			&:before {
				top: 50%;
				z-index: 5;
				content: '';
				display: block;
				position: absolute;
			}

			&:after {
				right: 15px;
				bottom: 15px;
				content: '';
				width: 14px;
				height: 27px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				background: url("../img/icon__angle_right.svg") 0 0 no-repeat;
				@include transition(.3s);
			}
		}

		&:nth-child(1) {

			a {
				&:before {
					left: 26px;
					width: 73px;
					height: 72px;
					margin-top: -36px;
					background: url("../img/service__01.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(2) {

			a {
				&:before {
					left: 12px;
					width: 94px;
					height: 57px;
					margin-top: -28px;
					background: url("../img/service__02.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(3) {

			a {
				&:before {
					left: 15px;
					width: 74px;
					height: 72px;
					margin-top: -36px;
					background: url("../img/service__03.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(4) {

			a {
				&:before {
					left: 17px;
					width: 80px;
					height: 59px;
					margin-top: -29px;
					background: url("../img/service__04.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(5) {

			a {
				&:before {
					left: 25px;
					width: 75px;
					height: 75px;
					margin-top: -35px;
					background: url("../img/service__05.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(6) {

			a {
				&:before {
					left: 25px;
					width: 71px;
					height: 57px;
					margin-top: -28px;
					background: url("../img/service__06.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(7) {

			a {
				&:before {
					left: 30px;
					width: 65px;
					height: 62px;
					margin-top: -31px;
					background: url("../img/service__07.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(8) {

			a {
				&:before {
					left: 40px;
					width: 54px;
					height: 56px;
					margin-top: -28px;
					background: url("../img/service__08.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&:nth-child(9) {

			a {
				&:before {
					left: 20px;
					width: 78px;
					height: 74px;
					margin-top: -37px;
					background: url("../img/service__09.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: auto;
		margin: 0 -15px 40px -15px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		li {
			width: 50%;
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-md-min) {
		@include justify-content(space-between);

		li {
			width: 33.33%;
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -20px 40px -20px;

		li {
			padding: 0 20px;

			a {
				height: 190px;
				font-size: 2.4rem;
				line-height: 2.9rem;
				padding-left: 242px;

				&:after {
					right: 20px;
					bottom: 20px;
				}
			}


			&:nth-child(1) {

				a {
					&:before {
						left: 46px;
						width: 147px;
						height: 144px;
						margin-top: -72px;
					}
				}
			}

			&:nth-child(2) {

				a {
					&:before {
						left: 19px;
						width: 187px;
						height: 113px;
						margin-top: -56px;
					}
				}
			}

			&:nth-child(3) {

				a {
					&:before {
						left: 21px;
						width: 148px;
						height: 144px;
						margin-top: -72px;
					}
				}
			}

			&:nth-child(4) {

				a {
					&:before {
						left: 25px;
						width: 159px;
						height: 118px;
						margin-top: -59px;
					}
				}
			}

			&:nth-child(5) {

				a {
					&:before {
						left: 35px;
						width: 149px;
						height: 139px;
						margin-top: -69px;
					}
				}
			}

			&:nth-child(6) {

				a {
					&:before {
						left: 35px;
						width: 142px;
						height: 114px;
						margin-top: -57px;
					}
				}
			}

			&:nth-child(7) {

				a {
					&:before {
						left: 48px;
						width: 127px;
						height: 121px;
						margin-top: -60px;
					}
				}
			}

			&:nth-child(8) {

				a {
					&:before {
						left: 61px;
						width: 108px;
						height: 111px;
						margin-top: -55px;
					}
				}
			}

			&:nth-child(9) {

				a {
					&:before {
						left: 10px;
						width: 153px;
						height: 146px;
						margin-top: -73px;
					}
				}
			}
		}
	}
}


.popular {
	padding-bottom: 60px;

	.heading {

	}

	&__slider {
		max-width: 325px;
		margin: 0 auto;
	}

	&__city {
		display: block;
		overflow: hidden;
		position: relative;
		@include border-radius(25px);

		&_name {
			top: 23px;
			left: 0;
			color: #000;
			z-index: 10;
			padding: 5px 10px;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
			position: absolute;
			display: inline-block;
			background: #fff;
			@include border-radius(0 20px 20px 0);
		}
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		padding-top: 20px;
		padding-bottom: 10px;
		position: relative;
	}

	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		margin: 0 10px;
		opacity: 1;
		background: #C4C4C4;
	}

	.swiper-pagination-bullet-active {
		background: #5C8ECB;
	}

	.slider_button {
		bottom: 0;
		z-index: 10;
		width: 90px;
		height: 50px;
		display: none;
		outline: none;
		cursor: pointer;
		position: absolute;
		background: transparent;
		border: 1px solid #bdbdbd;
		@include border-radius(25px);

		&:hover {
			border-color: #757575;

			&:after,
			&:before {
				background: $color-blue;
			}
		}

		&_prev {
			left: 0;

			&:after {
				margin-top: -3px;
				margin-left: -7px;
				@include rotate(-45deg);
			}

			&:before {
				margin-top: 3px;
				margin-left: -7px;
				@include rotate(45deg);
			}
		}

		&_next {
			right: 0;

			&:after {
				margin-top: -3px;
				margin-left: -5px;
				@include rotate(45deg);
			}

			&:before {
				margin-top: 3px;
				margin-left: -5px;
				@include rotate(-45deg);
			}
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 5;
			width: 10px;
			height: 2px;
			content: '';
			position: absolute;
			background: #bdbdbd;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 60px;

		.heading {
			margin-bottom: 60px;
		}

		&__slider {
			max-width: inherit;
		}

		.swiper-pagination {
			padding-top: 40px;
		}

		.slider_button {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 100px;
	}
}

.place {
	padding-top: 60px;
	padding-bottom: 50px;

	&__list {
		padding: 0;
		max-width: 330px;
		list-style: none;
		margin: 0 auto 50px auto;

		li {
			margin-bottom: 30px;
		}
	}

	&__row {
		padding: 0;
		max-width: 330px;
		list-style: none;
		margin: 0 auto 50px auto;

		li {
			margin-bottom: 30px;
		}
	}

	&__tile {
		display: block;
		position: relative;
		text-decoration: none;
		@include border-radius(25px);

		&:hover {
			@include box-shadow(0px 17px 60px rgba(132, 154, 255, 0.31));
		}

		&_image {
			overflow: hidden;
			position: relative;
			@include border-radius(25px);
		}

		&_inner {
			margin: 0 -72px 0 -250px;
		}

		&_name {
			top: 20px;
			left: 20px;
			color: #000;
			z-index: 10;
			background: #fff;
			padding: 5px 14px;
			font-size: 1.3rem;
			line-height: 2.3rem;
			position: absolute;
			display: inline-block;
			@include border-radius(17px);
		}

		&_title {
			z-index: 5;
			top: 120px;
			left: 20px;
			right: 20px;
			color: #fff;
			font-weight: 700;
			font-size: 2.8rem;
			line-height: 3.2rem;
			position: absolute;
			text-transform: uppercase;
		}

		&_text {
			left: 50%;
			bottom: 20px;
			color: #fff;
			width: 200px;
			height: 200px;
			font-size: 2rem;
			font-weight: 700;
			margin-left: -100px;
			line-height: 2.4rem;
			text-align: center;
			position: absolute;
			text-transform: uppercase;
			background: rgba(0, 0, 0, 0.84);
			@include border-radius(50%);
			@include flexbox();
			@include flex-direction(column);

			span {
				padding: 0 20px;
				display: block;
				margin: auto 0;
			}
		}

		&_tags {
			left: 20px;
			bottom: 20px;
			color: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
			display: block;
			position: absolute;
		}
	}

	&__quote {
		color: #000;
		font-weight: 300;
		font-size: 2.8rem;
		line-height: 3.2rem;
		text-align: center;
		margin-bottom: 50px;

		span {
			display: block;
			text-transform: uppercase;

			&:last-child {
				padding-top: 10px;
			}
		}

		&_author {
			font-size: 1.6rem;
			text-align: center;
			line-height: 2rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 80px;
		padding-bottom: 60px;

		.heading {
			margin-bottom: 80px;
		}

		&__list {
			max-width: inherit;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: 330px;

				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
				}
			}
		}

		&__row {
			max-width: inherit;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-around);

			li {
				width: 330px;
			}
		}

		&__tile {

			&_wrap {
				margin-top: -66px;
			}

			&_inner {
				margin: 0;
			}
		}

		&__quote {
			font-size: 3.6rem;
			line-height: 4.2rem;

			&_author {
				font-size: 1.6rem;
				text-align: center;
				line-height: 2rem;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__list {
			margin: 0 -15px 55px -15px;

			li {
				width: 33.33%;
				padding: 0 15px;

				&:nth-child(1) {
					width: 66.67%;
					padding: 0 15px;
				}
			}
		}

		&__row {
			margin: 0 -15px 70px -15px;
			@include justify-content(space-between);

			li {
				width: 33.33%;
				padding: 0 15px;
			}
		}

		&__tile {

			&_wrap {
				margin-top: 0;
			}

			&_name {
				top: 30px;
				left: 30px;
			}

			&_title {
				z-index: 5;
				top: 130px;
				left: 30px;
				right: auto;
				max-width: 500px;
				font-size: 3.6rem;
				line-height: 4.4rem;
				position: absolute;
				text-transform: uppercase;
			}

			&_tags {
				left: 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 100px;
		padding-bottom: 75px;

		&__tile {

			&_wrap {
				margin-top: -10px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__list {
			margin: 0 -16px 100px -16px;

			li {
				padding: 0 23px;
				margin-bottom: 40px;

				&:nth-child(1) {
					padding: 0 23px;
				}
			}
		}

		&__row {
			margin: 0 -16px 125px -16px;

			li {
				padding: 0 23px;
				margin-bottom: 40px;
			}
		}

		&__tile {

			&_wrap {
				margin-top: -3px;
			}

			&_text {
				color: #fff;
				width: 228px;
				height: 228px;
				font-size: 2.4rem;
				line-height: 2.9rem;
				margin-left: -114px;
			}
		}
	}
}

.intro {
	padding-top: 50px;
	padding-bottom: 100px;

	&__row {
		max-width: 608px;
		margin: 0 auto;
	}

	&__gallery {
		max-width: 608px;
		margin-bottom: 40px;

		&_lg {
			overflow: hidden;
			position: relative;
			margin-bottom: 24px;
			@include border-radius(30px 0 0 0);
			@include box-shadow(0px 4px 22px rgba(114, 165, 227, 0.49));

			&:after,
			&:before {
				z-index: 5;
				content: '';
				width: 100px;
				height: 100px;
				position: absolute;
				display: inline-block;
			}

			&:after {
				top: 20px;
				right: 20px;
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
			}

			&:before {
				left: 20px;
				bottom: 20px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
			}
		}

		&_name {
			top: 13px;
			left: 25px;
			color: #fff;
			z-index: 20;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			position: absolute;
			letter-spacing: 0.5px;
			display: inline-block;
			text-transform: uppercase;
		}

		&_icon {
			top: 6px;
			right: 6px;
			z-index: 30;
			width: 50px;
			height: 50px;
			position: absolute;
			background: #fff url("../img/icon__plane.svg") 50% 50% no-repeat;
			@include border-radius(50%);
		}

		&_thumbs {
			padding: 0;
			margin: 0 -10px;
			list-style: none;
			@include flexbox();

			li {
				width: 25%;
				padding: 0 10px;

				&:nth-child(1) {

					.intro_item {
						@include border-radius(0 0 0 50px);
					}
				}

				&:nth-child(4) {

					.intro_item {
						@include border-radius(0 0 50px 0);
					}
				}
			}


			.intro_item {
				overflow: hidden;
				position: relative;
				@include box-shadow(0px 4px 22px rgba(114, 165, 227, 0.49));
			}
		}
	}

	&__blog {
		color: #000;
		font-size: 1.4rem;
		line-height: 2.7rem;
		letter-spacing: 0.5px;
		margin-bottom: 40px;

		&_quote {
			color: #fff !important;
			display: block;
			font-weight: 700;
			font-size: 2.2rem;
			padding: 20px 25px;
			line-height: 2.8rem;
			margin-bottom: 30px;
			text-decoration: none !important;
			text-transform: uppercase;
			background: -ms-linear-gradient(82.79deg, #5D7AFF -23.3%, #7DB6FF 22.27%, #85DAFF 118.89%);
			background: -webkit-gradient(82.79deg, #5D7AFF -23.3%, #7DB6FF 22.27%, #85DAFF 118.89%);
			background: -moz-linear-gradient(82.79deg, #5D7AFF -23.3%, #7DB6FF 22.27%, #85DAFF 118.89%);
			background: -o-linear-gradient(82.79deg, #5D7AFF -23.3%, #7DB6FF 22.27%, #85DAFF 118.89%);
			background: linear-gradient(82.79deg, #5D7AFF -23.3%, #7DB6FF 22.27%, #85DAFF 118.89%);
			@include border-radius(15px);

			&:hover {
				@include box-shadow(0px 4px 60px rgba(208, 132, 255, 0.38));
			}
		}

		&_next {
			color: #72A5E3;
			font-size: 1.2rem;
			line-height: 2rem;
			letter-spacing: 0.5px;
			text-decoration: none !important;
			display: inline-block;
			padding: 9px 40px 9px 0;
			text-transform: uppercase;
			background: url("../img/icon__post_arrow.svg") 100% 50% no-repeat;

			&:hover {
				color: #000;
				text-decoration: none !important;

				span {
					text-decoration: underline;
				}
			}
		}

		p {
			margin-bottom: 20px;
		}

		a {
			color: #72A5E3;
			text-decoration: underline;

			&:hover {
				color: #72A5E3;
				text-decoration: none;
			}
		}
	}

	&__list {

		&_next {
			width: 19px;
			height: 38px;
			display: inline-block;
			background: url("../img/icon__post_arrow.svg") 0 0 no-repeat;
		}
	}

	&__post {
		padding: 10px 0;
		border-top: 1px solid #C8E1FF;
		@include flexbox();
		@include align-items(center);

		&:first-child {
			border-top-color: transparent;
		}


		&_image {
			width: 96px;
			height: 96px;
			overflow: hidden;
			@include border-radius(50%);
			@include flex-shrink(0);
		}

		&_text {
			padding-left: 30px;
			font-size: 1.6rem;
			line-height: 2rem;
			@include flex-grow(1);

			a {
				color: #C4C4C4;
				text-decoration: none;

				strong {
					color: #72A5E3;
					font-weight: 700;
				}

				&:hover {
					color: #C4C4C4;
					text-decoration: none;

					strong {
						color: #72A5E3;
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.heading {
			margin-bottom: 80px
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			max-width: inherit;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__gallery {
			width: 50%;
		}

		&__blog {
			width: 50%;
			padding-left: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 50px;

		&__row {
			@include flex-wrap(nowrap);
		}

		&__gallery {
			width: 40%;
		}

		&__blog {
			width: 25%;
			padding-left: 30px;
		}

		&__list {
			width: 35%;
			padding-left: 30px;
		}

	}

	@media (min-width: $screen-xl-min) {
		padding-top: 75px;

		&__gallery {
			width: 607px;
			@include flex-shrink(0);
		}

		&__blog {
			width: auto;
			@include flex-grow(1);

			&_text {
				padding-left: 20px;
				padding-right: 10px;
			}
		}

		&__list {
			width: 378px;
			@include flex-shrink(0);
		}
	}
}

.heading {
	color: #3A37AB;
	font-size: 3.6rem;
	line-height: 4rem;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 4.8rem;
		line-height: 5.8rem;
	}
}