.footer {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 40px;
	background: url("../img/footer__bg_sm.jpg") 50% 0;
	background-size: cover;

	&__info {
		margin-bottom: 40px;
	}

	&__top {
		margin-bottom: 30px;
	}

	&__logo {
		width: 206px;
		display: block;
		margin-left: -15px;
		margin-bottom: 30px;
	}

	&__nav {
		max-width: 320px;
		@include flexbox();
		@include justify-content(space-between);

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 1.4rem;
			line-height: 2.3rem;

			li {

				a {
					color: #fff;
					white-space: nowrap;
					text-decoration: none;

					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__social {

		&_title {
			font-weight: 800;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 18px;
			text-transform: uppercase;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #fff;
					font-size: 1.3rem;
					line-height: 2.5rem;
					text-decoration: none;
					@include flexbox();
					@include align-items(center);
					@include justify-content(flex-start);

					&:hover {
						color: #fff;
						text-decoration: none;

						span {
							text-decoration: underline;
						}
					}
				}
			}
		}

		&_icon {
			width: 25px;
			height: 25px;
			color: #6893c1;
		//	background: #fff;
			font-size: 1.7rem;
			line-height: 1.7rem;
			text-align: center;
			margin-right: 12px;
			display: inline-block;
			@include border-radius(50%);
		}
	}

	&__travel {

		&_title {
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 2.6rem;
			margin-bottom: 20px;
			text-transform: uppercase;
		}


		&_country {
			margin: 0;
			padding: 0;
			list-style: none;
			-moz-column-width: 120px;
			-webkit-column-width: 120px;
			column-width: 120px;
			-webkit-column-gap: 0;
			-moz-column-gap: 0;
			column-gap: 0;

			li {

				a {
					color: #fff;
					font-size: 1.4rem;
					line-height: 2.3rem;
					text-decoration: none;

					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__bottom {
		padding: 10px 0;
		background: #fff;
		text-align: center;

		&_text {
			color: #000;
			font-size: 1.3rem;
			line-height: 2rem;
		}

		&_payment {
			font-size: 0;
			line-height: 0;
			padding-top: 8px;
			@include flexbox();
			@include justify-content(center);

			span {
				margin: 0 7px;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__top {
			margin-bottom: 40px;
			@include flexbox();
			@include align-items(flex-end);
		}

		&__logo {
			margin-bottom: 0;
			margin-right: 68px;
		}

		&__nav {
			width: 300px;
		}

		&__travel {

			&_title {
				font-size: 3.6rem;
				line-height: 3.6rem;
			}
		}

		&__bottom {
			padding: 6px 0;
			text-align: left;

			&_text {
				float: left;
			}

			&_payment {
				float: right;
				padding-top: 5px;
				@include justify-content(flex-end);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 200px;
		background: url("../img/footer__bg.png") 50% 0 no-repeat;
		background-size: cover;

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__info {
			width: 630px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__travel {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 180px;
	}


	@media (min-width: 1930px) {
		padding-top: 240px;
	}
}
