.img-fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

// Alignment

.text-center    { text-align: center !important; }
.text-right     { text-align: right !important; }
.text-justify   { text-align: justify !important; }
.text-nowrap    { white-space: nowrap !important; }


// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.pt_10 { padding-top: 10px !important; }
.pt_25 { padding-top: 25px !important; }

.mb_10 { margin-bottom: 10px !important; }
.mb_20 { margin-bottom: 20px !important; }
.mb_25 { margin-bottom: 25px !important; }
.mb_30 { margin-bottom: 30px !important; }
.mb_40 { margin-bottom: 40px !important; }
.mb_50 { margin-bottom: 50px !important; }
.mb_60 { margin-bottom: 60px !important; }


.color_blue { color: $color-blue !important; }
.color_purple { color: $color-purple !important; }
.color_green { color: #00A757 !important; }
.color_brown { color: #D57300 !important; }
.color_gray { color: #5E5E5E !important; }
.color_red { color: #AF0000 !important; }



.extra_bold { font-weight: 800 !important; }
.font_semibold { font-weight: 600 !important; }


.center_box {
	@include flexbox();
	@include flex-direction(column);

	> * {
		margin: auto 0;
		display: inline-block;
	}
}

.flex_end {
	@include flexbox();
	@include justify-content(flex-end);
}