
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 15px 40px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	@include border-radius(25px);

	background: -ms-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -webkit-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -moz-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -o-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}


.btn_red {
	color: #B80000;
	outline: none;
	cursor: pointer;
	background: #fff;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 13px 38px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	border: 2px solid #B80000;
	text-transform: uppercase;
	@include border-radius(25px);


	&:hover {
		color: #fff;
		background: #B80000;
	}

	&:active {
		background: #B82A09;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_large {
	width: 100%;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 3rem;
	padding: 31px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	@include border-radius(92px);
	@include box-shadow(0px 42px 71px rgba(81, 97, 154, 0.57));

	background: -ms-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -webkit-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -moz-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -o-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		font-weight: 800;
		font-size: 2.4rem;
	}
}

.btn_md {
	color: #fff;
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 3rem;
	padding: 31px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	@include border-radius(92px);

	background: -ms-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -webkit-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -moz-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -o-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		font-weight: 800;
		font-size: 2.4rem;
		padding: 31px 60px;
	}
}

.btn_xl {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 3rem;
	padding: 22px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	@include border-radius(37px);

	background: -ms-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -webkit-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -moz-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -o-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		font-weight: 800;
		font-size: 2.4rem;
	}
}

.btn_long {
	width: 100%;
}

.btn_main {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 3rem;
	padding: 15px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	@include border-radius(30px);

	background: -ms-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -webkit-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -moz-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: -o-linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
	background: linear-gradient(147.12deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		font-weight: 700;
		font-size: 2rem;
	}
}

.btn_change {
	float: right;
	color: $color-blue;
	outline: none;
	width: 44px;
	height: 44px;
	cursor: pointer;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #fff;
	padding: 11px 0;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #D3D9DE;
	@include border-radius(5px);

	@media (min-width: $screen-sm-min) {
		float: none;
	}
}

.btn_group {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	li {
		padding: 0 10px;
		margin-bottom: 10px;
	}
}