.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 44px;
	color: #000;
	font-weight: 600;
	background: #fff;
	padding: 11px 10px;
	font-size: 1.3rem;
	line-height: 2rem;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #D3D9DE;
	@include placeholder(#000);
	@include border-radius(5px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: $color-blue;
		@include placeholder(transparent);
	}

	&_radius {
		@include border-radius(12px);
	}
}

textarea.form_control {
	height: auto;
	resize: vertical;
}

.form_group {
	margin-bottom: 15px;

	&_date {
		max-width: 350px;
	}
}

.form_label {
	width: 100%;
	color: #6E6C74;
	min-height: 12px;
	font-weight: 400;
	font-size: 1.2rem;
	display: inline-block;
	line-height: 1.2rem;
	margin-bottom: 10px;

	sup {
		top: -2px;
		color: $color-purple;
	}
}



.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 2.2rem;
		padding-left: 30px;
		position: relative;
		display: inline-block;
		text-transform: uppercase;

		&:before {
			top: 0;
			left: 0;
			width: 22px;
			height: 22px;
			content: '';
			display: inline-block;
			position: absolute;
			background: #fff;
			border: 1px solid #D3D9DE;
			@include border-radius(5px);
		}

		&:after {
			top: 4px;
			left: 4px;
			width: 14px;
			height: 14px;
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: #D3D9DE;
			@include border-radius(3px);
		}

		&:hover {
			color: #457FC7;
		}

		a {
			color: $color-blue;
			text-decoration: none;

			&:hover {
				color: $color-blue;
				text-decoration: underline;
			}
		}
	}


	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_select {
	margin: 0;
	width: 100%;
	outline: none;
	height: 44px;
	color: #000000;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #D3D9DE;
	padding: 11px 40px 11px 10px;
	background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
	@include placeholder(#000);
	@include border-radius(5px);

	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-expand {
		display: none;
	}

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-bottom-color: $color-blue;
		@include placeholder(transparent);
	}
}




.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-open {

		.selectric {

		}
	}

	.selectric {
		width: 100%;
		display: block;
		color: #666;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 2rem;
		position: relative;
		overflow: hidden;
		text-align: left;
		padding: 0.9rem 2.5rem 0.9rem 1rem;
		border: 1px solid #c2c2c2;

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
			margin: 0;
		}

		.button {
			top: 0;
			right: 0;
			bottom: 0;
			padding: 0;
			width: 40px;
			height: 100%;
			font-size: 0;
			line-height: 0;
			color: transparent;
			position: absolute;
			text-align: left;
			background: url("../img/icon__angle_bottom.svg") 10px 50% no-repeat;
		}

		&:hover {
			background: #f5f5f5;

			.button {
			}
		}
	}

	.selectric-items {
		background: #fff;
		max-height: 200px;
		border: 1px solid #c2c2c2;
		border-top: none;

		.selectric-scroll {
			max-height: 200px;

			ul {
				padding: 0;
				margin: 0;
				font-size: 1.3rem;
				line-height: 2rem;
				list-style: none;

				li {
					color: #666;
					cursor: pointer;
					padding: 0.5rem 1rem;

					&:hover {
						color: #444;
						background: #EDF0F5;
					}

					&.selected {
						color: #000;
						font-weight: 600;
					}
				}
			}
		}
	}
}


.select2 {
	width: 100% !important;
}

.select2-container {
	outline: none !important;
}

.select2-container--default {

	.select2-selection--single {
		height: 44px;
		border: 1px solid #85DAFF;
		@include border-radius(0);
	//	padding: 11px 40px 11px 20px;
	}
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000000;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	text-transform: uppercase;
	outline: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 11px 40px 11px 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 42px;
	width: 40px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	background: url("../img/icon__angle_bottom.svg") 10px 50% no-repeat;

	b {
		display: none !important;
	}
}

.select2-results__option {
	color: #282828;
	padding: 6px 15px;
	font-size: 1.2rem;
	line-height: 2rem;
	text-transform: uppercase;

	&:hover {
		color: #282828 !important;
		background: rgba(132, 218, 255, 0.25) !important;
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: rgba(132, 218, 255, 0.25) !important;
	color: #282828 !important;
}


.form_image {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	width: 155px;
	height: 130px;
	cursor: pointer;
	max-height: 130px;
	overflow: hidden;
	text-align: center;
	position: relative;
	display: inline-block;
	border: 1px solid #B4CBD2;
	background: rgba(180, 203, 210, 0.1);
	@include border-radius(7px);

	input {
		display: none;
	}

	img {
		width: 100%;
		height: 100%;
	}

	span {
		top: 50%;
		left: 10px;
		right: 10px;
		color: #B2B2B2;
		z-index: 10;
		height: 28px;
		font-size: 1.3rem;
		line-height: 1.4rem;
		position: absolute;
		overflow: hidden;
		display: inline-block;
		text-transform: uppercase;
		margin-top: -14px;
	}
}

.form_legend {
	color: #6E6C74;
	margin-left: -20px;
	padding: 11px 10px;
	font-size: 1.3rem;
	line-height: 2rem;
	display: inline-block;
}

.form_list {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	max-width: 1000px;

	li {
		padding: 8px 0;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		li {
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: calc(33.33% - 10px);
		}
	}
}

.form_service {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	max-width: 1000px;

	li {
		padding: 8px 0;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		li {
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-xl-min) {

		li {
			width: calc(33.33% - 10px);
		}
	}
}

.form_gallery {

	&__row {
		margin: 0 -10px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__item {
		width: 220px;
		display: block;
		overflow: hidden;
		margin: 0 10px 10px 10px;
		@include border-radius(5px);
	}

	.empty {
		width: 220px;
		height: 240px;
		background: #F7FBFF url("../img/icon__file.svg") 50% 50% no-repeat;
	}
}

.form_upload {
	width: 220px;
	height: 52px;
	color: #000;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.2rem;
	position: relative;
	line-height: 1.2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include border-radius(26px);
	@include flexbox();
	@include align-items(center);
	@include flex-direction(column);

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		position: absolute;
		display: inline-block;
		@include border-radius(26px);
		@include gradient-horizontal(#E3CAFF,#A2DFF3);
	}

	&:before {
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		z-index: 2;
		content: '';
		background: #fff;
		position: absolute;
		display: inline-block;
		@include border-radius(24px);
	}

	span {
		z-index: 10;
		margin: auto;
		position: relative;
		display: inline-block;
	}

	&:hover {
		color: #fff;
		text-decoration: none;

		&:before {
			display: none;
		}
	}

	input {
		display: none;
	}
}

.form_price {
	@include flexbox();

	&__input {
		width: 60px;
	}

	&__legend {
		color: #000;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.4rem;
		padding: 15px 0 15px 10px;
	}
}

.form_footer {
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px solid #B8B8B8;
}


.form_user {
	margin: 0 -8px;
	@include flexbox();

	&__elem {
		width: 90px;
		margin: 0 8px;
	}
}

