.pagination {
	font-size: 0;
	line-height: 0;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);

	&__prev {
		width: 50px;
		height: 40px;
		display: block;
		margin-right: 10px;
		position: relative;
		background: #F9F9F9;
		border: 1px solid #D3D9DE;
		@include border-radius(20px);
		@include order(1);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 14px;
			height: 1px;
			margin-left: -7px;
			position: absolute;
			background: #818181;
			display: inline-block;
		}

		&:after {
			margin-top: 5px;
			@include rotate(45deg);
		}

		&:before {
			margin-top: -5px;
			@include rotate(-45deg);
		}
	}


	&__next {
		width: 50px;
		height: 40px;
		display: block;
		margin-left: 10px;
		position: relative;
		background: #F9F9F9;
		border: 1px solid #D3D9DE;
		@include border-radius(20px);
		@include order(2);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 14px;
			height: 1px;
			margin-left: -7px;
			position: absolute;
			background: #818181;
			display: inline-block;
		}

		&:after {
			margin-top: -5px;
			@include rotate(45deg);
		}

		&:before {
			margin-top: 5px;
			@include rotate(-45deg);
		}
	}

	ul {
		margin: 0;
		padding: 20px 0 0 0;
		width: 100%;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);
		@include order(3);

		li {
			margin: 0 5px;

			span {
				width: 40px;
				height: 40px;
				padding: 5px;
				display: block;
				font-size: 2rem;
				line-height: 2.8rem;
				text-align: center;
				position: relative;
				text-decoration: none;
				border: 1px solid #D3D9DE;
				@include border-radius(20px);
			}

			a {
				width: 40px;
				height: 40px;
				padding: 5px;
				display: block;
				font-size: 2rem;
				line-height: 2.8rem;
				text-align: center;
				position: relative;
				text-decoration: none;
				border: 1px solid #D3D9DE;
				@include border-radius(20px);
			}

			&.active {

				a {
					color: #fff;
					text-decoration: none;
					background: linear-gradient(125.2deg, #E3CAFF 8.52%, #93B1FE 49.97%, #97BBFB 66.75%, #9FD5F5 80.56%, #A2DFF3 97.84%);
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include justify-content(space-between);

		&__prev {
			@include order(1);
		}

		&__next {
			@include order(3);
		}

		ul {
			width: auto;
			padding: 0;
			@include order(2);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__prev {
			width: 100px;
			height: 60px;
			@include border-radius(30px);
		}

		&__next {
			width: 100px;
			height: 60px;
			@include border-radius(30px);
		}

		ul {

			li {
				margin: 0 8px;

				a {
					width: 100px;
					height: 60px;
					font-size: 2.4rem;
					padding: 15px 10px;
					@include border-radius(30px);
				}

				span {
					width: 100px;
					height: 60px;
					font-size: 2.4rem;
					padding: 15px 10px;
					@include border-radius(30px);
				}
			}
		}
	}
}