.table {
	width: 100%;
	border: none;
	border-collapse: collapse;

	th {
		border: none;
		color: #6E6C74;
		text-align: left;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 10px 20px;
		text-transform: uppercase;
	}


	td {
		border: none;
		background: #fff;
		font-size: 1.4rem;
		line-height: 2rem;
		vertical-align: middle;
		padding: 20px 21px 20px 20px;
		position: relative;

		&:before {
			right: 0;
			top: 12px;
			width: 1px;
			content: '';
			opacity: 0.2;
			bottom: 12px;
			position: absolute;
			background: #77B0F6;
			display: inline-block;
		}

		&:last-child {

			&:before {
				display: none;
				padding-right: 20px;
			}
		}
	}

	tr {

		&:nth-child(odd) {

			td {
				background: #F7FBFF;
			}
		}
	}
}

.text_name {
	color: #457FC7;
	font-weight: 700;
	font-size: 1.6rem;
	text-transform: uppercase;
}


.table_responsive {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}

/*
@media (max-width: $screen-sm-max) {

	.table_responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		border: 1px solid #EBEBEB;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			border: none;
			margin-bottom: 0;
		}
	}
}
*/
